<div class="thumbnail">
  <img src="{{ asset('img/food/'~photo_id~'.jpg') }}" class="img-fluid">
  <div class="thumbnail-footer">
    <img src="{{ asset('img/profile/'~image_id~'.png') }}" class="profile-image">
    <small class="profile-name">{{ names[name_id] }}</small>
    <div class="pull-right">

    </div>
  </div>
</div>
